.budget-row-mastercategoryname {
	font-size: 14px;
	font-weight: bold;
	color: #003440;
	margin-bottom: 0px;
}

.budget-row-mastercategoryname:hover {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	color: #003440;
	margin-bottom: 0px;
	cursor: pointer;
}

.budget-row-subcategoryname {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0px;
}

.budget-row-subcategoryname:hover {
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
	margin-bottom: 0px;
	cursor: pointer;
}
