.master-category-row-categoryname {
	font-size: 14px;
	font-weight: normal;
	color: #003440;
	margin-bottom: 0px;
}

.master-category-row-value {
	font-size: 14px;
	font-weight: normal;
	color: #4D717A;
	margin-bottom: 0px;
}

.master-category-row-value-hover {
	font-size: 14px;
	font-weight: normal;
	color: #003440;
	margin-bottom: 0px;
}