.add-transaction-dialog {
	width: 400px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -200px;
}

/* Styles for a list that has a single level of items */
.custom-dropdown-list {
	width: 100%;
	max-height: 250px;
	border-style: none;
	list-style-type: none;
	padding-left: 0;
}

.custom-dropdown-list-item {
	width: 100%;
	color: black;
	background-color: white;
	padding-left: 3px;
}

.custom-dropdown-list-item:hover {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 3px;
}

.custom-dropdown-list-item-selected {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 3px;
}

/* Styles for a list that has two level of items */
.custom-dropdown-2list {
	width: 100%;
	max-height: 250px;
	border-style: none;
	list-style-type: none;
	padding-left: 0;
}

.custom-dropdown-2list-section {
	width: 100%;
	color: black;
	background-color: white;
	padding-left: 3px;
	font-weight: bold
}

.custom-dropdown-2list-item {
	width: 100%;
	color: black;
	background-color: white;
	padding-left: 9px;
}

.custom-dropdown-2list-item:hover {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 9px;
}

.custom-dropdown-2list-item-selected {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 9px;
}

/* Styles for the categories list */
.categories-dropdown-list {
	width: 100%;
	max-height: 250px;
	border-style: none;
	list-style-type: none;
	padding-left: 0;
}

.categories-dropdown-list-section {
	width: 100%;
	color: black;
	background-color: white;
	padding-left: 3px;
	font-weight: bold
}

.categories-dropdown-list-item {
	width: 100%;
	color: black;
	background-color: white;
	padding-left: 9px;
	padding-right: 9px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.categories-dropdown-list-item:hover {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 9px;
	padding-right: 9px;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.categories-dropdown-list-item-selected {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 9px;
	padding-right: 9px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.categories-dropdown-list-categoryname {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0px;
}

.categories-dropdown-list-positive-available-amount {
	color: #16A336;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0px;
}

.categories-dropdown-list-negative-available-amount {
	color: #D33C2D;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0px;
}

.categories-dropdown-list-zero-available-amount {
	color: #D1DBE1;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0px;
}

/* Styles for the flags list */
.flag-dropdown-list {
	width: 100%;
	border-style: none;
	list-style-type: none;
	padding-left: 0;
}

.flag-dropdown-list-item {
	width: 100%;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 6px;
	cursor: pointer;
}

.flag-dropdown-list-item-selected {
	width: 100%;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 6px;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.flag-dropdown-list-item-button {
	color: #ffffff;
	border: none;
	border-radius: 4px;
	height: 30px;
}