.App {
  display: flex;
  flex-flow: row nowrap;
}

.App-Sidebar {
	flex: 0 1 260px;
}

.App-ModuleContainer {
	flex: 1 1 auto;
}





.App-header {
  background-color: #F58025;
  height: 80px;
  padding: 5px;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.App-subheader {
  background-color: #E7E7E7;
  height: 25px;
}

.App-intro {
  font-size: large;
}