.add-transaction-dialog {
	width: 1000px
}

.custom-dropdown-list {
	width: 100%;
	border-style: none;
	list-style-type: none;
	padding-left: 0;
}

.custom-dropdown-list-item {
	width: 100%;
	color: black;
	background-color: white;
	padding-left: 3px;
}

.custom-dropdown-list-item:hover {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 3px;
}

.custom-dropdown-list-item-selected {
	width: 100%;
	color: white;
	background-color: #00596F;
	padding-left: 3px;
}

.flag-dropdown-list {
	width: 100%;
	border-style: none;
	list-style-type: none;
	padding-left: 0;
}

.flag-dropdown-list-item {
	width: 100%;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	cursor: pointer;
}

.flag-dropdown-list-item-selected {
	width: 100%;
	border-radius: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.flag-dropdown-list-item-button {
	color: #ffffff;
	border: none;
	border-radius: 4px;
	height: 30px;
}
