.contacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-container-commands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-top: 60px;
}

.contacts-container-searchbox {
  width: 260px;
}

.contacts-container-table {
  padding-right: 30px;
  padding-left: 30px;
}

.contacts-container-tableheader {
    background-color: #676767;
    color: white;
    font-size: small
}